<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myfirstapplication">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
<!--    <uses-permission android:name="android.permission.CAMERA" />-->

    <!-- uses-feature标签申明本应用需要用到的功能，如果应用商店检测到设备没有改功能，会禁止设备安装应用 -->
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyFirstApplication"
        >
        <activity
            android:name=".activity.BookPagerActivity"
            android:parentActivityName=".activity.BookFragmentActivity"
            android:exported="false" />
        <!--
                <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name=".activity.BookFragmentActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".activity.BookNameChangeActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activity.ExternStorageVisitActivity"
            android:exported="true"></activity>
        <activity
            android:name=".NotificationTestActivity"
            android:exported="true"></activity>
        <activity
            android:name=".BroadcastReceiverTestActivity1"
            android:exported="true"></activity>
        <activity
            android:name=".MyServiceTestActivity"
            android:exported="true"></activity>
        <activity
            android:name=".RunnableSample"
            android:exported="true"></activity>
        <activity
            android:name=".ListViewSampleActivity"
            android:exported="true"></activity>
        <activity
            android:name=".DialogActivity"
            android:exported="true"></activity>
        <activity
            android:name=".OptionsMenuActivity"
            android:exported="true"></activity>
        <activity
            android:name=".FileOpenActivity"
            android:exported="true"></activity>
        <activity
            android:name=".SQLDBtestActivity"
            android:exported="true"></activity>
        <activity
            android:name=".SharedPreferenceTestActivity"
            android:exported="true"></activity>
        <activity
            android:name=".ContactsContractTestActivity"
            android:exported="true"></activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.myfirstapplication.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files" />

        </provider>

        <service
            android:name=".MyServiceTest1"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name=".MyIntentServiceTest"
            android:enabled="true"
            android:exported="true"></service>

        <receiver android:name=".MyBroadcastReceiver1">
            <intent-filter>
                <action android:name="com.example.myfirstapplication.MyBroadcastReceiver1" />
            </intent-filter>
        </receiver>
    </application>

</manifest>