<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfirstapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyFirstApplication">
<!--        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    -->
    <activity
        android:name=".RunnableSample"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

        <activity
            android:name=".ListViewSampleActivity"
            android:exported="true">
        </activity>

        <activity android:name=".DialogActivity"
            android:exported="true">
        </activity>

        <activity android:name=".OptionsMenuActivity"
            android:exported="true">
        </activity>

        <activity android:name=".FileOpenActivity"
            android:exported="true">
        </activity>

        <activity android:name=".SQLDBtestActivity"
            android:exported="true">
        </activity>

        <activity android:name=".SharedPreferenceTestActivity"
            android:exported="true">
        </activity>

        <activity android:name=".ContactsContractTestActivity"
            android:exported="true">
        </activity>

    </application>

    <uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>

</manifest>